

    <% include partials/header.ejs %>
    
    <style>

        body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: scroll;
}
        .ui.card:first-child {
    margin-top:1em;
}
.ui.card:last-child {
    margin-bottom:1em;
}
.ui.card{
    border: none;box-shadow: none;
    position: relative;
    color: #000;
    
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1920 - 320));
    line-height: 1.433333333333333;
}
.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:200;
}
.image{
    transition: transform ease 0.5s;
    
}
.image:hover{
    transform: scale(0.95);
    transition: transform ease 0.5s;
}
.fade-in{
        opacity: 0;        
      }
.fade-in.appear{
  
  animation: popUpAnimation ease 0.75s ;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
        -webkit-animation: popUpAnimation ease 0.75s;
        -webkit-animation-iteration-count: 1; 
        -webkit-animation-fill-mode: forwards;
}
@media screen and (max-width:576px){
  .appear{
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .appear:nth-child(2){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
}

@media screen and (min-width:768px){
      
      .appear:nth-child(3n+3){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .appear:nth-child(3n+4){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .appear:nth-child(3n+5){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      
}
     
    </style>
    <body>
        
             
              <div class="container d-flex justify-content-around align-items-center" style="flex-wrap: wrap;">
                <div class="col-lg-8 col-sm-6">
                  
                  <div class="ui card fluid fade-in" id="mail">
                    
                    <a href="mailto:3dclub.nitrkl@gmail.com" class="image">
                      <img src="../images/Email_pic.jpg" style="border-radius: 0;">
                    </a>
                    <div class="content" style="padding-left: 0%;padding-right: 0%;border-top: none;">
                      
                      <div class="description">
                        <span style="font-weight: normal;">Your Blog — </span>Write to us, with your own content.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <div class="ui card fluid fade-in" id="default">                         
                    <a href="https://www.google.com" class="image">
                      <img src="https://news.microsoft.com/stories/assets/images/mr-lg.jpg" style="border-radius: 0;">
                    </a>
                    <div class="content" style="padding-left: 0%;padding-right: 0%;border-top: none;">
                      
                      <div class="description">
                        <span style="font-weight: normal;">Kristy — </span>Kristy is an art director living in New York.
                      </div>
                    </div>
                  </div>
                </div>
                
              
              <% blogs.forEach(function(blog){ %>
                <div class="ui card fade-in">
                  <a href="../Blogs/<%= blog.fileurl %>" class="image">
                    <img src="<%= blog.image %>" style="border-radius: 0;">
                  </a>
                  <div class="content" style="padding-left: 0%;padding-right: 0%;border-top: none;">
                    
                    <div class="description">
                      <span style="font-weight: normal;"><%= blog.name %> — </span><%= blog.intro %>
                    </div>
                  </div>
                  <% if(currentUser&&currentUser.isAdmin==true){ %>
                    <div style="position:fixed;right:6%;bottom: 30%;">
                      <a href="/Blogs/delete/<%= blog.id %>"><button class="ui circular large icon button"><i class="fas fa-trash fa-xl"></i></button></a>
                    </div>
                    <% } %>
                </div>
                <% }) %>
                <% if(currentUser&&currentUser.isAdmin==true){ %>
                  <div style="position:fixed;right:10%;bottom: 10%;">
                    <a href="/newBlog"><button class="ui circular large icon button"><i class="fas fa-plus fa-xl"></i></button></a>
                  </div>
                  <% } %>
                       
          </div>
            </div>
            <% if(blogs.length==0){ %>
              <div style="width: 100%;position: fixed;top: 40%;text-align: center;"><h1>No matching blogs available.</h1></div>
              <style>#footer{
                position: fixed;bottom: 0%;text-align: center;
              }
              #mail {display: none;}
              #default{display: none;}
              </style>
              <% } %>
              <div style="width: 100%;" id="footer" class="row justify-content-center ">
                
                <div class="col-md-12 text-center py-5">
                  <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> 3DtechClub All rights reserved 
              </p>
                </div>
              </div>
              
          </body>
        
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

          <script type="text/javascript">
    
            /*var n=1;
            $('.fade-in').each(function(){
                var t=(100*n);
                var x=t+"ms";
                $(this).css("-webkit-transition-delay",x);
                $(this).css("transition-delay",x);
                n=n+1;
            });*/
            document.getElementById("Sear").action = "/BlogSearch";
            $('#textsend').attr('placeholder','Search Blogs');
            const appearOptions={
              threshold:0.5,
              
            };
            const faders=document.querySelectorAll('.fade-in');
            const appearOnScroll=new IntersectionObserver(function(entries,appearOnScroll) 
            {
              entries.forEach(entry => {
                if(!entry.isIntersecting){
                  return;
                }
                else{
                  entry.target.classList.add('appear');
                  appearOnScroll.unobserve(entry.target);
                }
              })
            },
            appearOptions);
            faders.forEach(fader => {
              appearOnScroll.observe(fader);            
            });
            (function($) {


$.fn.visible = function(partial) {
  
    var $t            = $(this),
        $w            = $(window),
        viewTop       = $w.scrollTop(),
        viewBottom    = viewTop + $w.height(),
        _top          = $t.offset().top,
        _bottom       = _top + $t.height(),
        compareTop    = partial === true ? _bottom : _top,
        compareBottom = partial === true ? _top : _bottom;
  
  return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

};
  
})(jQuery);

$(window).scroll(function(event) {

$(".fade-in").each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    el.addClass("appear");
  } else {
    el.removeClass("appear");
  }
});

});

            
        </script>
    
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</html>